.job_card{
    -webkit-box-shadow: 0 0 5px 0 #ccc;
    -moz-box-shadow: 0 0 5px 0 #ccc;
    box-shadow: 0 0 5px 0 #ccc;
    border-radius: 4px;
    margin-top: 12px;
    padding: 12px 12px 19px 12px;
    background-color: #fff;
    
}

.title{
    font-size: 3rem;
    color: forestgreen;
    border-bottom: 3px solid chartreuse;
    margin: 0 0 1rem 0;
}

.job-position{
    font-size: 1.5rem;
    color: fuchsia;
}
.job_card{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.job_map{
    justify-self: self-end;
}
.shift-date {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid yellowgreen;
    padding: 0.5rem;
    margin: 0 0 0.4rem 0;
    font-weight: bold;
    color: #4d4d4d;
}

.job_description{
    padding: 0.5rem;
    margin: 1rem;
    border: 1px solid goldenrod;
}

.job_map{
    width: 88%;
    height: 100%;
    background:gold;
}

.pay{
    font-size: 1.5rem;
    color: blueviolet;
    font-weight: bolder;
}