<section>
  <div class="aligner">
    <img class="logo" src="../../../../assets/logo_text.svg" />
    <form class="example-form" (ngSubmit)="onSubmit()" [formGroup]="usrForm">
      <form [formGroup]="bsnForm" class="bsn">
        <mat-form-field class="input-full-width">
          <input ngx-google-places-autocomplete matInput [options]="options" #placesRef="ngx-places"
            formControlName="place" (onAddressChange)="handleAddressChange($event)" (input)="placeSelected = false"
            placeholder="Search for your business" id="place" name="place">
        </mat-form-field>
      </form>
      <mat-form-field class="input-full-width">
        <input matInput id="email" type="email" name="email" placeholder="Email" formControlName="email">
      </mat-form-field>
      <mat-form-field class="input-full-width">
        <input matInput id="password" type="password" name="password" minlength="8" placeholder="Password"
          formControlName="password">
      </mat-form-field>
      <mat-form-field class="input-full-width">
        <input matInput id="confirmPassword" type="password" minlength="8" name="confirmPassword"
          placeholder="Confirm Password" formControlName="confirmPassword">
      </mat-form-field>
      <span *ngIf="usrForm.errors?.invalid">
        Password doesn't match
      </span>
      <button mat-raised-button type="submit"  [disabled]="bsnForm.invalid || usrForm.invalid" >Sign Up</button>
      <h3 class="signUp">Got an account? <a routerLinkActive="active" routerLink="/">Sign In</a></h3>
    </form>
    <div class="alert" *ngIf="didFail">
      Ops.. Something went wrong
    </div>
  </div>
</section>
