<div class="hero-img"></div>
<app-nav></app-nav>
<div class="container">
  <div class="hero-content">
    <div>
      <h1>Chips</h1>
      <h2>hospitality on steroids.</h2>
    </div>
    <div>
      <img class="app" src="../../../../assets/app/app-phone.png" />
    </div>
  </div>
  <div class="card-section">
    <div class="card">
      <h3>Chips connects you with the best and more fabulous people for high impact results in your business. Whether you need more hands in the kitchen or on the floor, you can find the talented people to help you build your business</h3>
    </div>
  </div>
  <div class="card-section">
    <div class="card" data-aos="fade-up">asd</div>
    <div class="card" data-aos="fade-up">asd</div>
    <div class="card" data-aos="fade-up">asd</div>
  </div>
</div>
<app-footer></app-footer>
