<div class='container'>
    <div class="image">
        <ngx-avatar  [name]="application.basic_user.profile.name" [src]="application.basic_user.profile.profileImage" size="100"></ngx-avatar>
    </div>
    <div class="info">
        <h4>{{application.basic_user.profile.name}}</h4>
    </div>
    <div class="body">
        <div class="message">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend semper neque. Integer pharetra ultricies ligula, at eleifend quam dictum ac. Fusce justo ipsum, placerat eu aliquam non, lacinia sit amet justo. Pellentesque facilisis urna felis, ac venenatis odio porttitor sed. In nunc neque, bibendum vel tellus ut, sollicitudin accumsan sapien. Donec id tortor tellus. In a ipsum a risus suscipit rutrum. Vestibulum eu urna mollis sem mollis pellentesque. Donec bibendum rhoncus diam, ac sagittis orci. Maecenas a scelerisque augue, ac finibus felis. Pellentesque ullamcorper risus turpis, a tempus tortor fermentum quis. Suspendisse leo ligula, vestibulum nec tortor at, sagittis rutrum magna. Sed sed est purus.
                Mauris pretium tellus sapien, rutrum viverra risus scelerisque a. Aenean convallis leo ut mauris ornare, et aliquam tellus egestas. Ut efficitur dignissim lacinia. Sed pellentesque suscipit vehicula. Cras sed volutpat felis, at porta risus. Pellentesque eget porttitor nibh, et ullamcorper tortor. Aliquam sem risus, tristique id rhoncus at, lacinia et felis.
            </p>
        </div>
    </div>
    <div class="actions">
        <button class="secondary-button">Profile</button>
        <button class="secondary-button">Message</button>
    </div>
</div>
