<section>
    <div class="aligner">
      <img class="logo" src="../../../../assets/logo_text.svg" />
      <form class="example-form" (ngSubmit)="onSubmit()" [formGroup]="usrForm">
        <mat-form-field class="input-full-width">
          <input matInput id="email" type="email" name="email" placeholder="Email" formControlName="email">
        </mat-form-field>
        <mat-form-field class="input-full-width">
          <input matInput id="password" type="password" name="password" minlength="8" placeholder="Password"
            formControlName="password">
        </mat-form-field>
        <button mat-raised-button type="submit"  [disabled]="usrForm.invalid" >Login</button>
        <h3 class="signUp">Not a member yet?<a routerLinkActive="active" routerLink="/auth/business/signup">Sign Up</a></h3>
      </form>
      <div class="alert" *ngIf="didFail">
        Ops.. Something went wrong
      </div>
    </div>
  </section>